.prew{
    padding-block: 17px;
    background: #050505;
}
.prew__title{
    color: #FFF;
    font-family: Product Sans Infanity;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    text-decoration-line: underline;
    text-align: center;
}