.bestsellers{
    padding-block-start: 73px;
    padding-block-end: 100px;
    background: #FBF9F7;
}

.bestsellers__container{
    max-width: 1200px;
}
.bestsellers__description{
    color: #909090;
    font-family: Product Sans Infanity;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; 
    margin-block-end: 55px;
}
.bestsellers__description span{
    color: #050505;
    font-family: Product Sans Infanity;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}
.line{
    width: 100%;
    height: 1px;
    background: #909090;
    margin-block-end: 55px;
}

.bestsellers__title{
    color: #050505;
    font-family: Product Sans Infanity;
    font-size: 114px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px; 
    text-transform: uppercase;
}

.cards__wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.md__wrapper{
    display: flex;
    max-width: 560px;
    flex-wrap: wrap;
    gap: 20px;
}