.header{
    padding-block: 32px;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    width: auto;
    z-index: 100;
    margin-block-start: 32px;
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}